<!-- templates/generate_exams.html -->
{% extends 'base.html' %} {% block content %}
<h2>Generate Exams</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Generate Exams</button>
</form>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Convert and Download</button>
</form>

{% if form.non_field_errors %}
<div class="alert alert-danger">{{ form.non_field_errors }}</div>
{% endif %} {% endblock %}
